body {
  background-color: #ffffff;
}
body div {
  position: relative;
  background-color: #cce5ff;
  padding: 16px;
  margin-bottom: 16px;
  border: 2px solid #fe8743;
  border-radius: 4px;
}
body div.width-half {
  width: 50%;
}
body div.position-absolute {
  position: absolute;
  bottom: 8px;
  right: 20px;
}
body div.position-fixed {
  position: fixed;
  bottom: 20px;
  right: 80px;
}
body p.font-test {
  color: #ff3322;
  font-weight: bold;
}