@charset "UTF-8";
/* 今回CSSは純粋に見やすくするために使っているので、使わなくても大丈夫です */
body {
  background-color: #f0f0f0;
}
body hr {
  margin-top: 64px;
  border: none;
  border-bottom: 1px solid #ccc;
}
body button {
  padding: 8px 24px;
  background-color: #369;
  color: #fefefe;
  border: none;
  border-radius: 20px;
}
body button:hover {
  background-color: #47a;
  cursor: pointer;
}
body input {
  padding: 8px 12px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 16px;
}
body div {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body div.background-red {
  background-color: #fdd;
}
body div.background-yellow {
  background-color: #ffa;
}
body div.background-blue {
  background-color: #adf;
}
body #output-04 {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
body #output-04 .output-04-item {
  width: 20px;
  height: 20px;
  margin: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #aef;
}