body {
  /* 追加：ページ全体の最大幅を設定 */
  max-width: 600px;

  /* 追加：上下の余白を40px、左右を中央揃えに設定 */
  margin: 40px auto;

  /* 追加：背景色の設定 */
  background-color: #f9f9f9;

  font-family: sans-serif;
}

h1 {
  /* 追加：サブタイトルの下側余白を設定 */
  margin-bottom: 0px;

  /* 追加：タイトルの文字サイズを設定 */
  font-size: 24px;

  /* 変更：タイトルの文字色を設定 */
  color: #08314d;
}

/* 追加：サブタイトルを指定 */
.subtitle {

  /* 追加：サブタイトルの上側余白を設定 */
  margin-top: 0;

  /* 追加：サブタイトルの下側余白を設定 */
  margin-bottom: 8px;

  /* 追加：サブタイトルの文字色を設定 */
  color: #6b7280;

  /* 追加：サブタイトルの文字サイズを設定 */
  font-size: 15px;
}

/* 追加：バーの設定 */
.bar {

  /* 追加：バーの色 */
  fill: #5590a4;

  /* 追加：バーの境界線色 */
  stroke: #ffffff;
}

/* 追加：グリッド線を指定 */
.grid line {

  /* 追加：グリッド線の色を設定 */
  stroke: #ccc;

  /* 追加：グリッド線の間隔を設定（1つ目の数字が線の長さ、2つ目が空白の長さ） */
  stroke-dasharray: 4, 4;
}

/* 追加：グリッドの軸線を非表示 */
.grid path {
  stroke: none;
}

/* 追加：縦軸の軸線を非表示 */
.y-axis path {
  stroke: none;
}

/* 追加：横軸の軸線 */
.x-axis path {
  stroke: #aaa;
}

/* 追加：縦横軸の目盛線を非表示 */
.axis .tick line {
  stroke: none;
}

/* 追加：軸の文字を指定 */
.axis text {

  /* 追加：軸の文字色を設定 */
  fill: #888;

  /* 追加：軸の文字サイズを設定 */
  font-size: 12px;
}

/* 追加：注記を指定 */
.note {

  /* 追加：注記の上側に余白を設定 */
  margin-top: 12px;

  /* 追加：注記の文字色を設定 */
  color: #6b7280;

  /* 追加：注記の文字サイズを設定 */
  font-size: 12px;
}
